.details {
    display: flex;
    flex-direction: column;
    padding:40px;
    gap:20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;

}

p.media {
        font-size: 50px;
        background-image: linear-gradient(#2a72e6, #e67df0);
        color: transparent;
        background-clip: text;
    }

.backButton {
    padding: 3px;
    border-radius: 3px;
    height: 40px;
    width: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.chart {
    width: 60%;
}